.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imageDesc {
  background-color: rgb(151, 169, 172);
  padding: .5%
}

.likebtn {
}

div {
  display: grid | inline-grid;
  padding: 2%;
}

.likes {
  background-color: rgb(202, 211, 212);
  padding: 0.25%;
  margin-left: 40%;
  margin-right: 40%;
}
