.App {
  text-align: center;
}

.App-header {
  background-color: rgb(30, 48, 66);
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
}

.header-p {
  color:rgb(30, 48, 66);
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imageDesc, .imagePhoto {
  background-color: #3A6794;
  padding: .5%;
  border: solid white 2px;
  height: 500px;
  margin: 0 auto;
}

.imCards {
  /* display: flex; */
  margin-bottom: 2%;
}

.imageDesc {
  width: 500px;
  color: white;
  text-align: center;
}

.likebtn {
  background-color: #C76861;
  color: white;
}

.likebtn:hover {
  background-color: #7A3530;
}

div {
  padding: 2%;
}

.likes {
  background-color: #3A6794;
  color: white;
  padding: 0.25%;
  margin-left: 40%;
  margin-right: 40%;
}
